

@use "../base/colors" as *;

@import url(/node_modules/bootstrap/scss/bootstrap.scss);



$shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
$shadow-light: rgba(0, 0, 0, 0.1) 0px 10px 50px;
// $shadow-lg: 0px 30px 60px 0px rgba(0,0,0,0.1);
$shadow-lg: 20px 30px 60px 0px rgba(0,0,0,0.1);

// $shadow-lg: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$shadow-lg-dark: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
// $shadow-lg-dark:  rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
// $shadow-lg-dark:  rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

$gradient-primary: linear-gradient(90deg, $primary, lighten($primary, 16));
$gradient-secondary: linear-gradient(90deg, $secondary, lighten($secondary, 16));