@use "../base/" as *;
@use "../partials/" as *;


// footer css start 
.footer{
    background-color: #12141d;
    padding-top: 7.5rem;
    position: relative;
    overflow: hidden;

    .heading{color: $white; font-size: 48px;}

    img {
        width: auto;
        max-width: 100%;
    }
    .footer-bg-circle {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(20px) translateY(-10px);
        animation: shake-circle 16s infinite; /* Updated animation */
    }

    .footer-blur1 {
        position: absolute;
        top: -300px;
        left: -400px;
        animation-name: zoom-fade;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        -webkit-animation-name: zoom-fade;
        -webkit-animation-duration: 4s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
    }
    .footer-blur2 {
        position: absolute;
        bottom: -300px;
        right: -400px;
        animation-name: zoom-fade;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        -webkit-animation-name: zoom-fade;
        -webkit-animation-duration: 4s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
    }
    .footer-bg-line {
        position: absolute;
        bottom: 0;
        right: 0;
    }


    // content start 
    .text{font-size: 20px;}
    .title{color: $white; font-size: 24px;}
    .form-control{width: 360px;}

    .social-media{
        color: $white;
        font-size: 1rem;
        font-weight: $medium;
        margin-top: 1rem;
        li{margin-right: .5rem;}
        a{color: $white;
            padding: .6rem .75rem;
            background: $dark;
            transition: .4s;
            &:hover{
                color: $white;
                background: $gradient-secondary;
            }
        }

        visibility: hidden;

        animation: fadeInUp 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards; /* Smooth easing */
        animation-delay: 1s; /* Delay before the animation starts */
    }


    .footer-copyright {
        margin-top: 70px;
        background: $primary;
        padding: 30px 0;
    }
}


@media (max-width:1400px) {
    .footer{
        padding-top: 5.5rem;
        .footer-copyright {
            margin-top: 50px;
            padding: 24px 0;
        }
    }
}


@media (max-width:1200px) {
    .footer{
    
        // content start 
        .heading{font-size: 34px;}
        .text{font-size: 16px;}
        .title{font-size: 18px;}
        .form-control{width: 400px;}
 
        .footer-copyright {
            margin-top: 50px;
            padding: 24px 0;

        }
    }
}


@media (max-width: 576px) {
    .footer{
        padding-top: 3rem;
        .container{
            padding-left: 20px;
            padding-right: 20px;
        }
    
        // content start 
        .heading{font-size: 24px;}
        .text{font-size: 16px;}
        .title{font-size: 16px;}
        .form-control{width: 180px; padding: 0;}
    
        .social-media{
            font-size: .9rem;
            a{color: $white;
                padding: 8px 10px 8px 10px;
                background: $dark;
                transition: .4s;
                &:hover{
                    color: $white;
                    background: $gradient-secondary;
                }
            }
    
        }
    
    
        .footer-copyright {
            margin-top: 20px;
            padding: 16px 0;
            font-size: 11px;
            img{height: 24px;}

        }
    }
}

@media (max-width: 370px) {
    .footer{
    
        .form-control{width: 160px;}
    }
}
