
@use "base" as *;
@use "components" as *;
@use "layouts" as *;
@use "pages" as *;
@use "partials" as *;




.bg-img{
    background-image: url(../img/3d-render-globe-abstract.jpg);
    background-position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    // overflow-x: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100 !important;
}



// top banner css start 
.top-banner{
    position: relative;
    width: 100%;
    z-index: 0;
    padding-top: 196px;
    background: $bg-white;

    .banner-blur-one{
        position: absolute;
        top: -280px;
        left: -280px;
        z-index: -1;
        animation-name: zoom-fade;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        -webkit-animation-name: zoom-fade;
        -webkit-animation-duration: 4s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        
    }

    .banner-blur-two {
        position: absolute;
        top: -280px;
        right: -280px;
        z-index: -1;
        animation-name: zoom-fade;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        -webkit-animation-name: zoom-fade;
        -webkit-animation-duration: 4s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
       
    }

    .banner-bg-line {
        position: absolute;
        top: 0;
        left: 8;
        z-index: -1;
        animation-name: fadeInDown;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    .banner-object-one {
        position: absolute;
        top: 60%;
        left: 0;
        z-index: -1;
        animation-delay: .8s;
        animation-name: fadeInLeft;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    .banner-object-two {
        position: absolute;
        top: 20%;
        right: 0;
        z-index: -1;
        animation-delay: .8s;
        animation-name: fadeInRight;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    .banner-bg-circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        transform: translateX(20px) translateY(-10px);
        animation: shake-circle 16s infinite; /* Updated animation */
    }

    // container start 
    .container{
        position: relative;
        z-index: 5;

        .banner-content-one{
            .sub-heading {
                position: relative;
                margin-bottom: 1rem;
                display: inline-block;
                visibility: hidden;
                
                animation: fadeInUp 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards; /* Smooth easing */
                animation-delay: 0.5s; /* Delay before the animation starts */
            }

            .heading {
                font-size: 80px;
                margin-bottom: 1rem;
                visibility: hidden;
                animation: fadeInUp 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards; /* Smooth easing */
                animation-delay: 0.6s; /* Delay before the animation starts */

                .hand-move {
                    display: inline-block; /* Ensure the image can rotate around its center */
                    animation: rotateHand 1s infinite; /* Adjust duration as needed */
                }
            }

            .text{
                visibility: hidden;
                animation: fadeInUp 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards; /* Smooth easing */
                animation-delay: 0.8s; /* Delay before the animation starts */
            }

            .banner-btn{
                margin-top: 3rem;
                .banner-play-btn {
                    width: 60px;
                    height: 60px;
                    position: relative;
                    margin-left: 30px;
                    background: linear-gradient(90deg, rgba(251, 120, 120, 1) 0%, rgba(255, 175, 116, 1) 100%);
                    border-radius: 50%;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    background-size: 200% 100%;
                    background-position: left center;
                    -webkit-box-shadow: 5px 5px 30px 0px rgba(251, 122, 120, 0.35);
                    -moz-box-shadow: 5px 5px 30px 0px rgba(251, 122, 120, 0.35);
                    box-shadow: 5px 5px 30px 0px rgba(251, 122, 120, 0.35);
                    transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
                    z-index: 1;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 120%; /* Size for wave effect */
                        height: 120%; /* Size for wave effect */
                        background: linear-gradient(90deg, rgba(251, 120, 120, 1) 0%, rgba(255, 175, 116, 1) 100%);
                        border-radius: 50%;
                        transform: translate(-50%, -50%) scale(1); /* Center the wave */
                        animation: waveBtn 2.5s infinite; /* Infinite wave effect */
                        z-index: -1; /* Place behind the button */
                    }
                }

                // a, a:hover, a:focus {
                //     text-decoration: none;
                //     outline: none;
                // }

                visibility: hidden;
                animation: fadeInUp 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards; /* Smooth easing */
                animation-delay: .9s; /* Delay before the animation starts */
            }

            .social-media{
                color: $dark;
                font-size: 1rem;
                font-weight: $medium;
                margin-top: 4rem;
                li{margin-right: 1rem;}
                a{color: $dark;
                    padding: .6rem .75rem;
                    background: darken($color: $bg-deep, $amount: 4);
                    transition: .4s;
                    &:hover{
                        color: $white;
                        background: $primary;
                    }
                }

                visibility: hidden;

                animation: fadeInUp 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards; /* Smooth easing */
                animation-delay: 1s; /* Delay before the animation starts */
            }


        }


        .top-banner-img-wrap{
            visibility: visible;
            animation-delay: 0.5s;
            animation-name: fadeInUp;
        
            .top-banner-img{
                position: relative;
                .banner-line-one {
                    position: absolute;
                    top: 0;
                    left: 0%;
                    z-index: -1;
                }

                .banner-bg-one {
                    position: absolute;
                    top: 0;
                    left: 0%;
                    z-index: -1;
                    animation: move-rotate 5s infinite ease-in-out;
                }

                .box-right {
                    width: 270px;
                    background-color: #ffffff;
                    position: absolute;
                    top: 200px;
                    right: 0;
                    border-radius: 10px;
                    padding: 25px;
                    display: flex;
                    align-items: center;
                    -webkit-box-shadow: 30px 30px 60px 0px rgba(0, 0, 0, 0.1);
                    -moz-box-shadow: 30px 30px 60px 0px rgba(0, 0, 0, 0.1);
                    box-shadow: 30px 30px 60px 0px rgba(0, 0, 0, 0.1);
                    animation: move_left_angle 5s linear infinite;

                    .icon {
                        width: 60px;
                        height: 60px;
                        background-color: #d4f8ca;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100%;
                        margin-right: 20px;
                    }

                    .box-txt-one{
                        width: calc(100% - 80px);
                        span {
                            font-family: 'Rubik', sans-serif;
                            font-size: 18px;
                            line-height: 15px;
                            color: #10161b;
                            font-weight: 500;
                        }
                    }
                }

                .box-left {
                    background-color: #ffffff;
                    position: absolute;
                    bottom: 90px;
                    left: 0;
                    border-radius: 10px;
                    padding: 25px;
                    display: flex;
                    align-items: center;
                    -webkit-box-shadow: 30px 30px 60px 0px rgba(0, 0, 0, 0.1);
                    -moz-box-shadow: 30px 30px 60px 0px rgba(0, 0, 0, 0.1);
                    box-shadow: 30px 30px 60px 0px rgba(0, 0, 0, 0.1);
                    animation: move_right_angle 5s linear infinite;

                    .icon {
                        width: 60px;
                        height: 60px;
                        background-color: #d4f8ca;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100%;
                        margin-right: 20px;
                    }

                    .box-txt-two {
                        width: calc(100% - 80px);

                        span:first-child {
                            font-family: 'Rubik', sans-serif;
                            font-size: 18px;
                            line-height: 15px;
                            color: #10161b;
                            font-weight: 500;
                            display: block;
                        }

                        span:last-child {
                            font-family: 'Jost', sans-serif;
                            color: #fb7878;
                            font-size: 25px;
                            font-weight: 800;
                        }

                        .title {
                            color: #fb7878;
                            margin-bottom: 0;
                            display: inline-block;
                            margin-top: 8px;
                        }
                    }
                }
            }


        }
        


    }
}
// top banner css end

// about-me css start 
.about-me{
    padding: 7.5rem 0;
    background: $bg-white;
    .about-me-wrap{
        .img-wrap{
            .photo{
                width: 34rem;
                height: 40.625rem;
                object-fit: cover;
                border-radius: 3rem;
            }
            .experience-year{
                width: 12.5rem;
                height: 12.5rem;
                right: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $bg-white;
                position: relative;
                box-shadow: $shadow-light;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 2px dashed $secondary;
                    border-radius: 50%;
                    box-sizing: border-box;
                    animation: rotate-360 10s infinite linear; /* Apply rotation only to the border */
                    z-index: 10; /* Keep it behind the content */
                }

                .sub-heading{font-size: 45px}
                .text{font-size: 20px; margin-top: 14px;}
            }
        }

        // information 
        .information{
            .nav-info{
                width: 100%;
                border-bottom: 2px solid $primary;
                .nav-item{
                    width: 33.333%;
                    .nav-link{
                        width: 100%;
                        padding: .8rem 0;
                        font-weight: $medium;
                        color: $dark;
                        &.active{
                            background: $gradient-primary;
                            border-radius: 0;
                            color: $white;
                        }
                    }
                }
            }

            // tab-content 
            .tab-content{
                h5, h6{font-family: $secondary-font ; }
                .property{
                    color: darken($color: $light, $amount: 40);
                    font-size: .95rem;
                    font-weight: $medium;
                }
                .value{
                    color: $dark;
                    font-size: 1.1rem;
                    font-weight: $semibold;
                }

                // skill 
                .skill{
                    h5{ color: $dark;
                        font-size: 1.1rem;
                        font-weight: $semibold;
                    }

                    margin-bottom: 1.87rem;
                    padding-bottom: 1.7rem;
                    border-bottom: 2px solid darken($color: $light, $amount: 16);

                    .progress, .progress-bar{height: .5rem}
                    .progress{background: lighten($color: $primary, $amount: 45); box-shadow: #0087F620 0px 4px 12px;}
                    .progress-bar{background: $gradient-primary;}
                }
            }
        }
    }
}
// about-me css end

// counter-all css start 
.counter-all{
    padding: 5rem 0;
    background: #0087f682;
    .counter-box{
        color: $white;
        .value{font-size: 2.75rem}
        .property{font-size: 1.1rem; padding: 0 4rem 0 .7rem; font-weight: $medium}
    }
}
// counter-all css end


// my-services css start 
.my-services{
    padding: 7.5rem 0;
    background: $bg-white;
    position: relative;

    .object-left {
        position: absolute;
        top: 50%;
        left: -70px;
        transform: translate(0, -50%);
        img{width: auto; max-width: 100%;}
    }
}
// my-services css end


// my work css start 
.my-works{
    background: $bg-white;
    .works-wrap{
        .section-heading{
            display: flex;
            justify-content: center;
        }
        .heading{text-align: center;}
    }
}


// my clients css start 
.my-clients{
    padding: 7.5rem 0;
    background: $bg-white;
    position: relative;

    .container{
        .brand-wrap{
            margin-top: 5rem;
            .brand-box{
                .brand{
                    box-shadow: $shadow-lg ;
                    padding: 1.5rem 2.5rem;
                    border-radius: .7rem;
                    background: $bg-white;
                    margin-bottom: 2rem;
                    &:hover{box-shadow: $shadow-lg-dark;}
                    img {
                        filter: grayscale(1);
                        transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
                    }
                    &:hover img{filter: grayscale(0) ;}
                    
                }
                &:nth-child(2){
                    margin: 4rem 2rem 0 2rem;
                }
            }
        }
    }
}


// working-steps css start 
.working-steps{
    padding: 7.5rem 0;
    background: $bg-light;
    position: relative;
   
    .working-steps-wrap{
        position: relative;
        .section-heading{
            display: flex;
            justify-content: center;
        }
        .heading{text-align: center;}

        .working-card-wrap{
            width: 100%;
            .working-card{
                position: relative;
                border-radius: 10px;
                width: 332px;
                padding: 30px;
                text-align: left;
                box-shadow: 20px 30px 60px 0px rgba(0, 0, 0, 0.1);
                transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
                .title{
                    &:hover{color: $dark}
                }

                .card-img-wrap{
                    width: 60px;
                    height: 60px;
                    background: linear-gradient(90deg, rgba(194, 120, 251, 1) 0%, rgba(249, 115, 255, 1) 100%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    margin-bottom: 20px;
                    transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;

                }
                .card-number{
                    position: absolute;
                    font-size: 30px;
                    top: 12px;
                    right: 22px;
                    font-family: $primary;
                    font-weight: $semibold;
                    color: darken($color: $light, $amount: 10)
                }

                &:hover{
                    box-shadow: $shadow-lg-dark;
                    .card-img-wrap{background: $gradient-primary;}
                    img{animation: shake 0.6s ease-in-out;} 
                }
                
            }
   
        }
        .working-arrow-left{
            position: absolute;
            top: 68%;
            left: 28.65%;
            transform: translate(0, -50%);
            animation: shakeUpDown 3s ease-in-out infinite; /* Apply the animation */
        }
        .working-arrow-right{
            position: absolute;
            top: 68%;
            right: 28.65%;
            transform: translate(0, -50%);
            animation: shakeUpDown 3s ease-in-out infinite; /* Apply the animation */
        }
    }
}


// best pricing css start 
.pricing{
    padding: 7.5rem 0;
    background: $bg-white;
    position: relative;
    
    .pricing-wrap{
        position: relative;
        .section-heading{
            display: flex;
            justify-content: center;
        }
        .heading{text-align: center;}
    }
}


// testimonial css start 
.testimonial{
    background: $bg-light;
    padding: 7.5rem 0;
    position: relative;
    .carousel{

        .testimonial-card{
            padding: 40px;
            border-radius: 10px;
            background: $bg-white;
            box-shadow: 0px 18px 26px -10px rgba(0,0,0,0.1);
           position: relative;
            .client-img-wrap{
                border: 2px solid $secondary;
            }
            .title:hover{color: $dark}
            .qoute{
                position: absolute;
                top: 24px;
                right: 24px;
            }
            
        }
        .slide-btn{
            background: $primary;
            width: 10px;
            height: 10px ;
            margin: 0 8px;
            border: 0;
        }
    }

    .testimonial-video{
        position: relative;

        img{
            border-radius: 48px;
        }
        .btn-wrap{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            .testimonial-play-btn {
                width: 90px;
                height: 90px;
                position: relative;
                margin-left: 30px;
                background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
                border-radius: 50%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background-size: 200% 100%;
                background-position: left center;
                -webkit-box-shadow: 5px 5px 30px 0px rgba(251, 122, 120, 0.35);
                -moz-box-shadow: 5px 5px 30px 0px rgba(251, 122, 120, 0.35);
                box-shadow: 5px 5px 30px 0px rgba(255, 255, 255, 0.35);
                transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
                z-index: 1;
                color: $primary;
                font-size: 24px;
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 120%; /* Size for wave effect */
                    height: 120%; /* Size for wave effect */
                    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
                    border-radius: 50%;
                    transform: translate(-50%, -50%) scale(1); /* Center the wave */
                    animation: waveBtn 2.5s infinite; /* Infinite wave effect */
                    z-index: -1; /* Place behind the button */
                }
            }
        }
        
    }

}






// media start here 
@media (max-width: 1400px) {
    // top banner start 
    .top-banner{
    
        .banner-object-one {
            top: 57%;
            left: -120px;
        }
    
        .banner-object-two {
            top: 24%;
            right: -90px;
        }
    
        // container start 
        .container{
            .banner-content-one{
               
                // .banner-btn{
                //     .banner-play-btn {
                       
                //     }
                // }
    
                .social-media{
                    li{margin-right: .85rem;}
                }
    
    
            }
    
    
            .top-banner-img-wrap{
                margin-top: -60px;
                .top-banner-img{
    
                    // .banner-bg-one {
                    // }
    
                    .box-right {
                        width: 230px;
                        top: 170px;
                        right: 40px;
                        padding: 20px;
                        
    
                        .icon {
                            width: 60px;
                            height: 60px;
                        }
    
                        .box-txt-one{
                            width: calc(100% - 80px);
                            span {
                                font-size: 16px;
                                line-height: 14px;
                            }
                        }
                    }
    
                    .box-left {
                        bottom: 80px;
                        padding: 20px;
                        width: 230px;
    
                        // .icon {
                        // }
    
                        .box-txt-two {
                            width: calc(100% - 80px);
    
                            span:first-child {
                                font-size: 16px;
                                line-height: 14px;
                            }
    
                            span:last-child {
                                font-size: 20px;
                            }
    
                            // .title {
                            // }
                        }
                    }
                }
    
    
            }
            
    
    
        }
    }

    // about-me css start 
    .about-me{
        padding: 5.5rem 0;
        .about-me-wrap{
            .img-wrap{
                // .photo{
                // }
                .experience-year{
                    right: -36px;
                    bottom: -10px;

                    // &::before {
                    // }

                    // .sub-heading{}
                    // .text{}
                }
            }

        }
    }
    // about-me css end

    // my-services css start 
    .my-services{
        padding: 5.5rem 0;
    }
    // my-services css end

    // my clients css start 
    .my-clients{
        padding: 5.5rem 0;
    }

    // working-steps css start 
    .working-steps{
        padding: 5.5rem 0;
    
        .working-steps-wrap{
            .working-card-wrap{
                width: 100%;
                .working-card{
                    width: 300px;
                    padding: 24px;

                    .card-number{
                        font-size: 28px;
                    
                    }
                    
                }
            }
        }
    }

    // best pricing css start 
.pricing{
    padding: 5.5rem 0;
    }

    // testimonial css start 
    .testimonial{
        padding: 5.5rem 0;
    }
}



@media (max-width: 1200px) {
    // top banner start 
    .top-banner{
    
        .banner-object-one {
            top: 57%;
            left: -120px;
        }
    
        .banner-object-two {
            top: 19%;
            right: -90px;
        }
    
        // container start 
        .container{
    
            .banner-content-one{
    
                margin-top: -10px;

                .heading {
                    margin-top: -4px;
                    font-size: 56px;
                    .hand-move {
                        margin-top: -16px;
                    }
                }
    
    
                .social-media{
                    li{margin-right: .85rem;}
                }
    
    
            }
    
    
            .top-banner-img-wrap{
                margin-top: -40px;
                
                .top-banner-img{

                    .box-right {
                        top: 130px;
                        right: 0px;
                        padding: 18px;
                        
                        .icon {
                            width: 50px;
                            height: 50px;
                        }
    
                    }
    
                    .box-left {
                        bottom: 36px;
                        padding: 18px;
    
                        .icon {
                            width: 50px;
                            height: 50px;
                        }
    
                    }
                }
    
    
            }
            
    
    
        }
    }

    // about-me css start 
    .about-me{
        .about-me-wrap{
            .img-wrap{
                .photo{
                    width: 100%;
                    height: 37rem;
                    border-radius: 3rem;
                }
                .experience-year{
                    width: 12rem;
                    height: 12rem;
                }
            }

        }
    }
    // about-me css end

    // counter-all css start 
    .counter-all{
        padding: 4.5rem 0;
        background: #0087f682;
        .counter-box{
            .value{font-size: 2.5rem}
            .property{font-size: 1rem; padding: 0 0 0 0.5rem;}
        }
    }
    // counter-all css end

    // my-services css start 
    .my-services{
        .service-card{
            .text{font-size: 14px;}
        }
    }
    // my-services css end

    // my clients css start 
    .my-clients{
        

        .container{
            .brand-wrap{
                .brand-box{
                    .brand{
                        border-radius: .5rem;
                        margin-bottom: 1.5rem;
                        
                    }
                    &:nth-child(2){
                        margin: 2rem 1.5rem 0 1.5rem;
                    }
                }
            }
        }
    }

    // working-steps css start 
    .working-steps{
    
        .working-steps-wrap{

            .working-card-wrap{
                .working-card{
                    width: 280px;
                    padding: 24px;
                    .card-text{font-size: 14px;}
                }
                
            }
        }
    }

    // best pricing css start 
    .pricing{
        
        .pricing-wrap{
            .pricing-card{
                .sub-title{font-size: 1rem;}
                .sub-heading{
                    font-size: 2rem;
                }
                .card-footer{
                    padding: 16px;
                    .text{font-size: 12px;}
                }
                
            }
        }
    }

    // testimonial css start 
    .testimonial{
    
        .carousel{

            .testimonial-card{
                padding: 24px;
                .client-img-wrap{
                    width: 70px;
                    height: 70px;
                }

                .qoute{
                    width: 40px;
                }

                .text{font-size: 13px; }
                
            }
        }
        
    }
}


@media (max-width: 992px) {
    // top banner start 
    .top-banner{
        padding-top: 140px;
    
        .banner-object-one {
            top: 37%;
            left: -110px;
        }
    
        .banner-object-two {
            top: 6%;
        }
    
    
        // container start 
        .container{
            .banner-content-one{
                .heading {
                    margin-top: -4px;
                    font-size: 36px;
    
                    .hand-move {
                        margin-top: -16px;
                        width: 40px;
                    }
                }
    
                .banner-btn{
                    margin-top: 1.2rem;
                    .banner-play-btn {
                        width: 50px;
                        height: 50px;
                        margin-top: -5px;
                    }
                }
    
                .social-media{
                    margin-top: 2rem;
                    li{margin-right: .5rem;}
                    a{color: $dark;
                        padding: .4rem .5rem;
                        background: darken($color: $bg-deep, $amount: 4);
                        transition: .4s;
                        &:hover{
                            color: $white;
                            background: $primary;
                        }
                    }
                }
    
            }
    
            .top-banner-img-wrap{
                
                .top-banner-img{
    
                    .box-right {
                        top: 90px;
                        right: -60px;
                    }
                }
    
    
            }
            
    
    
        }
    }

    // about-me css start 
    .about-me{
        padding: 4rem 0;
        .about-me-wrap{
            .img-wrap{
                .photo{
                    width: 100%;
                    height: 31rem;
                    border-radius: 2rem;
                }
            }

            // information 
            .information{
                .nav-info{
                    .nav-item{
                        font-size: 14px;
                    }
                }

                // tab-content 
                .tab-content{
                    .property{
                        font-size: 12px;
                    }
                    .value{
                        font-size: 14px;
                    }

                    // skill 
                    .skill{
                        h5{ 
                            font-size: 14px;
                        }

                        margin-bottom: 1.5rem;
                        padding-bottom: 1.5rem;

                        .progress, .progress-bar{height: .35rem}
                    }
                }
            }
        }
    }
    // about-me css end

    // counter-all css start 
    .counter-all{
        padding: 4rem 0;
        .counter-box{
            .value{font-size: 2rem}
            .property{font-size: .75rem; padding: 0 0 0 0.4rem;}
        }
    }
    // counter-all css end

    // my-services css start 
    .my-services{
        padding: 4rem 0;
        .service-card{
            .text{font-size: 14px;}
        }
        .btn{margin-bottom: 48px;}
    }
    // my-services css end

    // my work css start 
    .my-works{
        padding:  0;
    }

    // my clients css start 
    .my-clients{
        padding: 4rem 0;
        .container{
            .brand-wrap{
                .brand-box{
                    .brand{
                        padding: .5rem 1rem;
                        
                    }
                    &:nth-child(2){
                        margin: 2rem 1.5rem 0 1.5rem;
                    }
                }
            }
        }
    }

    // working-steps css start 
    .working-steps{
        padding: 4rem 0;
    
        .working-steps-wrap{

            .working-card-wrap{
                // width: 100%;
                .working-card{
                    width: 210px;
                    padding: 16px;
                    .card-text{font-size: 14px;}
                    
                }


                
            }
            .working-arrow-left{
               img{ width: 50px;}
            }
            .working-arrow-right{
                img{ width: 50px;}
            }
        }
    }

    // best pricing css start 
    .pricing{
        padding: 4rem 0;
        
    }

    // testimonial css start 
    .testimonial{
        padding: 4rem 0;
    }
}


@media (max-width:  768px) {
    // top banner start 
    .top-banner{
    
        .banner-object-one {
            top: 37%;
            left: -110px;
        }
    
        .banner-object-two {
            top: 6%;
        }
    
        // container start 
        .container{
            .banner-content-one{

                .heading {
                    margin-top: -4px;
                    font-size: 28px;
    
                    .hand-move {
                        margin-top: -10px;
                        width: 28px;
                    }
                }
    
    
                .banner-btn{
                    margin-top: 1.2rem;
                    .banner-play-btn {
                        width: 40px;
                        height: 40px;
                        margin-top: -5px;
                    }
                }
    
                .social-media{
                    li{margin-right: .4rem;}
                    a{
                        padding: .3rem .4rem;
                    }
                }
    
    
            }
    
    
            .top-banner-img-wrap{
                
                .top-banner-img{
    
                    .box-right {
                        width: 190px;
                        top: 44px;
                        right: -60px;
                        padding: 14px;
    
                        .icon {
                            width: 40px;
                            height: 40px;
                            margin-right: 14px;
                        }
    
                        .box-txt-one{
                            span {
                                font-size: 14px;
                                line-height: 14px;
                            }
                        }
                    }
    
                    .box-left {
                        padding: 14px;
                        width: 210px;
    
                        .icon {
                            width: 40px;
                            height: 40px;
                            margin-right: 14px;
                        }
    
                        .box-txt-two {
    
                            span:first-child {
                                font-size: 14px;
                            }
                        }
                    }
                }
    
    
            }
            
    
    
        }
    }

    // about-me css start 
    .about-me{
        padding: 4rem 0;
        .about-me-wrap{
            .img-wrap{
                .photo{
                    width: 100%;
                    height: 31rem;
                    border-radius: 2rem;
                }
            }

            // information 
            .information{
                .nav-info{
                    .nav-item{
                        font-size: 14px;
                    }
                }

                // tab-content 
                .tab-content{
                    .property{
                        font-size: 12px;
                    }
                    .value{
                        font-size: 14px;
                    }

                    // skill 
                    .skill{
                        h5{ 
                            font-size: 14px;
                        }

                        margin-bottom: 1.5rem;
                        padding-bottom: 1.5rem;

                        .progress, .progress-bar{height: .35rem}
                    }
                }
            }
        }
    }
    // about-me css end

    // counter-all css start 
    .counter-all{
        padding: 4rem 0;
        .counter-box{
            .value{font-size: 2rem}
            .property{font-size: .75rem; padding: 0 0 0 0.4rem;}
        }
    }
    // counter-all css end

    // my-services css start 
    .my-services{
        padding: 4rem 0;
        .service-card{
            .text{font-size: 14px;}

            &:nth-child(2) {
                margin-left: 0rem;
            }
        }
        .btn{margin-bottom: 48px;}
    }
    // my-services css end

    // my work css start 
    .my-works{
        padding:  0;
    }

    // my clients css start 
    .my-clients{
        padding: 4rem 0;
        .container{
            .brand-wrap{
                // margin-top: 5rem;
                .brand-box{
                    .brand{
                        padding: .5rem 1rem;
                        
                    }
                    &:nth-child(2){
                        margin: 2rem 1.5rem 0 1.5rem;
                    }
                }
            }
        }
    }

    // working-steps css start 
    .working-steps{
        padding: 4rem 0;
    
        .working-steps-wrap{

            .working-card-wrap{
                // width: 100%;
                .working-card{
                    width: 100%;
                    padding: 24px;
                    margin-bottom: 24px;
                    .card-text{font-size: 14px;}
                    
                }


                
            }
            .working-arrow-left{
                display: none;
            }
            .working-arrow-right{
                display: none;
            }
        }
    }

    // best pricing css start 
    .pricing{
        padding: 4rem 0;
    }

    // testimonial css start 
    .testimonial{
        padding: 4rem 0;
    

        .testimonial-video{
            margin-top: 24px;
            
        }

        
    }
}


@media (max-width:  576px) {
    // top banner start 
    .top-banner{
        padding-top: 120px;
    
        padding-left: 10px;
        padding-right: 10px;
    
        .banner-bg-line {
            top: 40;
            left: -200px;
            width: 360px;
        }
    
        .banner-object-one {
            top: 60%;
            left: -200px;
        }
    
        .banner-object-two {
            top: 0%;
            right: -220px;
        }
    
    
    
    
        // container start 
        .container{
    
            .banner-content-one{
                .sub-heading {
                   margin-top: 50px; 
                }
                .heading {
                    margin-top: -4px;
                    font-size: 44px;
                    line-height: 50px;
                    .hand-move {
                        margin-top: -10px;
                        width: 38px;
                    }
                }
    
                .banner-btn{
                    margin-top: 1.2rem;
                    .banner-play-btn {
                        width: 40px;
                        height: 40px;
                        margin-top: -5px;
                    }
                }
    
                .social-media{
                    li{margin-right: .4rem;}
                    a{
                        padding: .3rem .4rem;
                    }
                }
    
    
            }
    
    
            .top-banner-img-wrap{
                
                .top-banner-img{
                    margin-left: 80px;
    
                    .box-right {
                        width: 140px;
                        top: 80px;
                        right: 0px;
                        padding: 12px 10px;
                        
    
                        .icon {
                            width: 34px;
                            height: 34px;;
                            margin-right: 10px;
                            img{padding: 4px; width: 80%;}
                        }
                        // display: flex;
                        .box-txt-one{
                            flex-grow: 1; /* Takes up remaining space */
                            text-align: left;
                            line-height: 18px;
                            span {
                                font-size: 13px;
                                line-height: 14px;
                            }
                        }
                    }
    
                    .box-left {
                        bottom: 24px;
                        left: -70px;
                        padding: 14px;
                        width: 160px;
                        padding: 10px;
    
                        .icon {
                            width: 34px;
                            height: 34px;
                        margin-right: 10px;
                        img{padding: 4px; width: 80%;}
                        }
    
                        .box-txt-two {
                            flex-grow: 1; /* Takes up remaining space */
                            text-align: left;
                            margin-top: 4px;
    
                            span:first-child {
                                font-size: 13px;
                            }
    
                            span:last-child {
                                font-size: 18px;
                            }
    
                            .title {
                                margin-top: -4px;
                                font-size: 18px;
                            }
                        }
                    }
                }
    
    
            }
            
    
    
        }
    }

    // about-me css start 
    .about-me{
        padding: 3rem 0;
        
        .about-me-wrap{
            .img-wrap{
                .photo{
                    height: 28rem;
                    border-radius: 1rem;
                }
                .experience-year{
                    width: 10rem;
                    height: 10rem;
                    right: -2px;
                    bottom: -2px;

                    .sub-heading{font-size: 34px}
                    .text{font-size: 16px; }
                }
            }

        }
    }
    // about-me css end

    // counter-all css start 
    .counter-all{
        padding: 3rem 1rem;
        .counter-box{
            .value{font-size: 2rem}
            .property{font-size: .75rem; padding: 0 0 0 0.4rem;}
        }
    }
    // counter-all css end

    // my-services css start 
    .my-services{
        padding: 3rem 0.625rem;
        .service-card{
            .text{font-size: 13px; margin-top: -6px;}

            margin-bottom: 1.5rem;
            .icon-bg{
                width: 54px;
                height: 54px;
            }
            .card-number {
                right: 1rem;
                top: .4rem;
                font-size: 1.7rem;
            }
        }
        .object-left {
            top: 30%;
            left: -170px;
        }
    }
    // my-services css end

    // my work css start 
    .my-works{
        padding:  0;
    }

    // my clients css start 
    .my-clients{
        padding: 3rem 0.625rem;
        
        .container{
            .brand-wrap{
                margin-top: 2rem;
                .brand-box{
                    .brand{
                        padding: .7rem 1.2rem;
                    }
                }
            }
        }
    }

    // working-steps css start 
    .working-steps{
        padding: 3rem 0.625rem;
    
        .working-steps-wrap{

            .working-card-wrap{
                .working-card{
                    .title{
                        margin-top: -10px;
                    }
                    .card-img-wrap{
                        width: 54px;
                        height: 54px;

                    }
                    .card-number{
                        font-size: 1.7rem;
                    
                    }
                    
                }
                
            }
        }
    }

    // best pricing css start 
    .pricing{
        padding: 3rem 0.625rem;

    }

    // testimonial css start 
    .testimonial{
        padding: 3rem 0.625rem;

        .testimonial-video{
            margin-top: 24px;
            
        }

        
    }
}







// boostrap css link 
@import url(../node_modules/bootstrap/dist/css/bootstrap.css);
@import url(../node_modules/bootstrap/scss/bootstrap.scss);