@use "../base/" as *;
@use "../partials/" as *;


.testimonial-card{
    position: relative;
    transition: .4s;
    &:hover{
        .video-thum{
            filter: grayscale(0);
        }
    }
    .video-thum{
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
        filter: grayscale(100%);
    }

    .btn-wrap{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $bg-white;
        width: 50px;
        height: 30px;
        opacity: 86%;
        border-radius: 20px;
        .play-btn{
            color: $danger;
            font-size: 66px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}