@use "../base/" as *;
@use "../partials/" as *;



.my-portfolio{
    padding: 7.5rem 0;

    .portfolio-wrap{
        .nav{
            .nav-item{
                .nav-link{
                    font-size: 18px;
                    font-weight: $medium;
                    color: $dark;
                    margin: 0 .5rem;
                    transition: .4s;
                    
                    &.active{
                        color: $white;
                        background: $gradient-primary;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .my-portfolio{
        padding: 5.5rem 0;
    
        .portfolio-wrap{
            .nav{
                .nav-item{
                    .nav-link{
                        font-size: 16px;
                        margin: 0rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .my-portfolio{
        padding: 3rem 0;
    
        .portfolio-wrap{
            .nav{
                .nav-item{
                    .nav-link{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}